$body-background-color: #1f1f1f;
$sidebar-color: #1f1f1f;
$border-color: #5c5962;

$body-text-color: #e6e1e8 ;
$body-heading-color: #f5f6fa ;
$nav-child-link-color: #959396 ;
$search-result-preview-color: #959396 ;

$link-color: #2c84fa ;
$btn-primary-color: #264caf;
$base-button-color: #302d36 ;

$code-background-color: #b3b3b3 ;
$search-background-color: #b3b3b3;
$table-background-color: #b3b3b3;
$feedback-color: darken($sidebar-color, 3%);

