$body-background-color: #0d1117;
$sidebar-color: #0d1117;
$border-color: #5c5962;

$body-text-color: #c8d1d8;
$body-heading-color: #c8d1d8;
$nav-child-link-color: #959396;
$search-result-preview-color: #959396;

$link-color: #00a7ff;
$btn-primary-color: #264caf;
$base-button-color: #302d36;

$code-background-color: #161b22;
$search-background-color: #161b22;
$table-background-color: #1f1f1f;
$feedback-color: darken($sidebar-color, 3%);

