$body-background-color: #6e6e6e;
$sidebar-color: #6e6e6e;
$border-color: #5c5962;

$body-text-color: #e6e1e8;
$body-heading-color: #f5f6fa;
$nav-child-link-color: #959396;
$search-result-preview-color: #959396;

$link-color: #2c84fa;
$btn-primary-color: #264caf;
$base-button-color: #302d36;

$code-background-color: #1f1f1f;
$search-background-color: #1f1f1f;
$table-background-color: #1f1f1f;
$feedback-color: darken($sidebar-color, 3%);

